* {
    color: var(--off-white)
}

:root {
    --prim-dark: #023047;
    --prim-med: #219ebc;
    --prim-light: #8ecae6;
    --sec-dark: #fb8500;
    --sec-light: #ffb703;
    --off-white: #f1dede;
    
    
    font-family: Verdana;
    font-weight: 400;
    color: var(--off-white)
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--prim-dark);
}

nav {
    margin: 0;
    padding: 0;
    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 5rem;
    position: sticky;
    background-color: var(--prim-dark);
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: auto;
    font-weight: bold;

    text-decoration: none;
}

nav > a:hover {
    background-color: var(--prim-med);
    color: var(--prim-dark);
}

nav > a.active {
    background-color: var(--sec-dark);
    color: var(--prim-dark);
}